/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile crg,singularity
 */

params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'
}

process {
    executor = 'crg'
    queue = 'long-sl7'
    clusterOptions = "-P prj007053"

    maxRetries = 2
    cpus = 1
    memory = { ( 24.GB * task.attempt ) }
    time = { ( 12.h * task.attempt ) }
    
    withName: GET_COEXPRESSION_MATRIX {
        // memory = { ( task.attempt == 1 ? 48.GB : 
        //              task.attempt == 2 ? 64.GB :
        //              84.GB ) }
        memory = '84.GB'
        time = { ( 24.h * task.attempt ) }
    }
    withName: GET_COEXPRESSION_MATRIX_FDR {
        memory = { ( task.attempt == 1 ? 64.GB : 84.GB ) }
        time = { ( 48.h * task.attempt ) }
    }
    withName: FILTER_COEXPRESSION_MATRIX {
        memory = { ( 8.GB * task.attempt ) }
        time = { ( 4.h * task.attempt ) }
    }
    withName: RUN_EGAD {
        memory = { ( task.attempt == 1 ? 64.GB : 84.GB ) }
        time = { ( 12.h * task.attempt ) }
    }
    withName: CALCULATE_OVERLAP {
        memory = { ( 12.GB * task.attempt ) }
        time = { ( 6.h * task.attempt ) }
    }
    withName: CALCULATE_AUC {
        memory = { ( task.attempt == 1 ? 48.GB : 
                     task.attempt == 2 ? 64.GB :
                     84.GB ) }
        time = { ( 12.h * task.attempt ) }
    }
    withName: CALCULATE_PR {
        memory = { ( 32.GB * task.attempt ) }
        time = { ( 6.h * task.attempt ) }
    }
}
