/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  input = "${baseDir}/data/one-per-publication/{GSE108097_Brain_4,GSM1676569}.txt.gz"
  methods = ['rho','pearson']
  outdir = "${baseDir}/tests"
  tracedir = "${params.outdir}/pipeline_info"
}
